name: ZUNRDP_VM_SYSTEM
on:
  workflow_dispatch:
    inputs:
      owner_name: { required: true }
      ts_key: { required: true }

jobs:
  deploy:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fast Setup
        shell: powershell
        run: |
          # 1. Tạo User chuẩn RDP
          $p = "CloudAccess@2026!#"
          $password = ConvertTo-SecureString $p -AsPlainText -Force
          New-LocalUser -Name "ZunRdp" -Password $password -PasswordNeverExpires
          Add-LocalGroupMember -Group "Administrators" -Member "ZunRdp"
          
          # 2. Cài Tailscale kết nối IP riêng 100.x.x.x
          curl.exe -L -o ts.exe https://pkgs.tailscale.com/stable/tailscale-setup-latest.exe
          Start-Process -FilePath "ts.exe" -ArgumentList "/quiet", "/norestart" -Wait
          & "C:\Program Files\Tailscale\tailscale.exe" up --authkey="${{ github.event.inputs.ts_key }}" --hostname="ZUN-${{ github.run_id }}"
          
          # 3. Lưu thông tin tạm
          $p | Out-File -FilePath "pass.txt" -Encoding utf8
          [DateTimeOffset]::Now.ToUnixTimeMilliseconds() | Out-File -FilePath "uptime.txt"

      - name: Run Agent
        run: powershell -File zunrdp.ps1 -Owner "${{ github.event.inputs.owner_name }}" -MachineID "ZUN-${{ github.run_id }}"

