name: ZunRdp Cloud
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Preparing System
        run: |
          # Ép tạo User ngay lập tức ở bước chuẩn bị
          net user ZunRdp ZunRdp@2026@Cloud /add /y
          net localgroup Administrators ZunRdp /add
      - name: Running ZunRdp Script
        run: |
          Invoke-WebRequest -Uri "https://raw.githubusercontent.com/${{ github.repository }}/main/zunrdp.ps1" -OutFile "zunrdp.ps1"
          powershell -ExecutionPolicy Bypass -File "zunrdp.ps1" -OWNER_NAME "${{ github.actor }}"
          
