name: ZUNRDP_VM_SYSTEM
on: 
  workflow_dispatch:
    inputs:
      vmid:
        description: 'VM Token'
        required: true

jobs:
  deploy:
    runs-on: windows-latest
    steps:
      - name: Preparing User
        run: |
          # Tao User ngay lap tuc de fix loi Login
          net user ZunRdp ZunRdp@2026@Cloud /add /y
          net localgroup Administrators ZunRdp /add
          
      - name: Setting up ZunRdp
        run: |
          Invoke-WebRequest -Uri "https://raw.githubusercontent.com/${{ github.repository }}/main/zunrdp.ps1" -OutFile "zunrdp.ps1"
          # Mac dinh lay ten Owner la Token ZUN-XXXX luon
          powershell -ExecutionPolicy Bypass -File "zunrdp.ps1" -OWNER_NAME "${{ github.event.inputs.vmid }}"
          
